:root {
    --red: hsl(0, 100%, 67%);
    --lt-red: hsla(0, 100%, 67%, 0.1);
    --yellow: hsl(39, 100%, 56%);
    --lt-yellow: hsla(39, 100%, 56%, 0.1);
    --teal: hsl(166, 100%, 37%);
    --lt-teal: hsla(166, 100%, 37%, 0.1);
    --navy: hsl(237, 47%, 39%);
    --lt-navy: hsla(237, 47%, 39%, 0.1);
    --dk-grey: hsl(224, 30%, 27%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --slate-blue: hsl(252, 100%, 67%);
    --royal-blue: hsl(241, 81%, 54%);
    --grey-white: #F9FDFF;
    --grey: hsl(241, 100%, 89%);
}

@font-face {
    font-family: Hanken;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: Hanken;
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
}

h3 {
    margin: 0 0 20px 0;
}

footer {
    margin-top: 40px;
}

button {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: var(--dk-grey);
    font-weight: 700;
    margin-top: 20px;
}

svg, .score span.dk-navy {
    margin-right: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.score {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.score > div {
    display: flex;
    align-items: center;
}

.red {
    color: var(--red);
}

.red-bg {
    background-color: var(--lt-red);
}

.yellow {
    color: var(--yellow);
}

.yellow-bg {
    background-color: var(--lt-yellow);
}

.teal {
    color: var(--teal);
}

.teal-bg {
    background-color: var(--lt-teal);
}

.navy {
    color: var(--navy);
}

.navy-bg {
    background-color: var(--lt-navy);
}

.dk-navy {
    color: var(--dk-grey)
}

.white {
    color: var(--grey-white);
}

.lg {
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}

.x-bold {
    font-weight: 800;
}

.x-lg {
    font-size: 3rem;
}

#total-score {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#total-score + div {
    margin-bottom: 10px;
}

#summary {
    padding: 30px 20px;
    box-shadow: 20px 20px 20px 2px var(--lt-navy);
    border-radius: 20px;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--slate-blue), var(--royal-blue));
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
}
